{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

    {% block posts %}
        {% for post in page %}
            <p>{{ post.text|linebreaksbr }}</p>
            <hr>
            <h6>{{ post.pub_date|date:"d M Y H:m" }}</h6>
                        <h6>
                Автор: {{ post.author.get_full_name }}
            </h6>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    {% endblock %}
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}
